.features__item-name {
    margin: 0;
    margin-bottom: 17px;
    margin-top: 21px;
    font-size: 24px;
    line-height: 28px;
}

@media all and (max-width: 640px) {
    .features__item-name {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 6px;
        margin-top: 22px;
    }
}
