.gallery__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 816px) {
    .gallery__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .gallery__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .gallery__container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 15px;
        scrollbar-color: #ffbb01;
        scrollbar-width: thin;
    }
}

.gallery__container::-webkit-scrollbar {
    width: 53px;
    height: 4px;
    background-color: #cecece;
}

.gallery__container::-webkit-scrollbar-thumb {
    background-color: #ffbb01;
    border-radius: 6px;
}
