.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 57px;
}

@media all and (max-width: 755px) {
    .hero__container {
        margin: auto;
        text-align: center;
        padding-right: 0;
    }
}
