.portfolio {
    background-color: #1b2944;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 64px 0 64px;
}

@media all and (max-width: 430px) {
    .portfolio {
        padding: 61px 0 89px;
    }
}
