.hero__freelancer {
    color: #ffbb01;
    font-size: 24px;
    line-height: 1.17;
    margin: 0;
    margin-bottom: 13px;
}

@media all and (max-width: 877px) {
    .hero__freelancer {
        font-size: 18px;
        line-height: 1.69;
    }
}

@media all and (max-width: 755px) {
    .hero__freelancer {
        order: 2;
        font-size: 24px;
        line-height: 1.17;
    }
}

@media all and (max-width: 424px) {
    .hero__freelancer {
        order: 2;
        font-size: 16px;
        line-height: 1.69;
        margin-bottom: 4px;
    }
}
