.project__title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 1.56;
    font-weight: bold;
    max-width: 170px;
    position: relative;
    z-index: 2;
  }

@media screen and (max-width: 430px) {
    .project__title {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 22px;
    }
}
