.project {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
}

.project::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    padding-top: 100%;
}

.project::before {
    content: "";
    display: block;
    background-image: linear-gradient(
        179.83deg,
        rgba(196, 196, 196, 0) 35.34%,
        #213e60 99.85%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
