.project {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 304px;
    /* width: 32.2%; */
    min-height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 28px 30px;
    box-sizing: border-box;
}

.project::before {
    content: "";
    display: block;
    background-image: linear-gradient(
        179.83deg,
        rgba(196, 196, 196, 0) 35.34%,
        #213e60 99.85%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
