.projects__card {
  position: relative;
}

.projects__card::before {
  content: "";
  display: block;
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%);
  position: absolute;
  width: 100%;
  height: 100%;
}
