.footer {
    background-color: #1b2944;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 64px 0 93px;
}

@media all and (max-width: 535px) {
    .footer {
        padding: 63px 0 50px;
    }
}
