.footer__contact-information {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 535px) {
    .footer__contact-information {
        display: flex;
        flex-direction: column;
        row-gap: 13px;
    }
}
