.button_place_footer {
    padding: 25px 102px;
    cursor: pointer;
}

@media all and (max-width: 535px) {
    .button_place_footer {
        width: 100%;
        padding: 20px 36px;
        font-size: 10px;
    }
}
